:root {
  --theme-accent-background: #212529;
  --theme-accent-background--hover: #2d3a46;
  --theme-accent-font-color: #fff;
  --theme-block-background: #f1f1f1;
  --theme-block-background--hover: #ddd;
  --theme-body-font-color: #000;
  --theme-light-background: #53575e;
  --theme-light-background--hover: #676c74;
  --theme-muted-font-color: #6c757d;
  --theme-muted-font-color--hover: #aaafb5;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

ol,
ul {
  padding-left: 2rem;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*****************/
/*** SCROLLBAR ***/
/*****************/
/* For Webkit (Blink) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-light-background);
  border-radius: 5px;
  box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-light-background--hover);
}

::-webkit-scrollbar-track {
  background: var(--theme-accent-background);
}

/**************/
/*** HEADER ***/
/**************/
.header {
  align-items: center;
  background-color: var(--theme-accent-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
}

.header-left {
  align-items: center;
  display: flex;
  justify-content: start;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0;
}

.header__flag img {
  border-radius: 3px;
}

/* Dropdown Button */
.dropdown__button {
  background-color: inherit;
  border: none;
  color: var(--theme-accent-font-color);
  cursor: pointer;
  font-size: 16px;
  padding: 14px;
  transition: 0.2s;
}

.dropdown__button::after {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  content: '';
  display: inline-block;
  margin: 0 0 -3px 5px;
  height: 10px;
  width: 10px;
}

.dropdown__button:hover {
  background-color: var(--theme-accent-background--hover);
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  background-color: var(--theme-block-background);
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

/* Если у тебя файерфокс, пососи 
.dropdown:has(*:hover) .dropdown__content {
  display: block;
}*/

.dropdown--selected__button::after {
  border-bottom: 5px solid currentColor;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  margin: 0 0 3px 5px;
}

/* Links inside the dropdown */
.dropdown__content a {
  color: var(--theme-body-font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown__content a:hover {
  background-color: var(--theme-block-background--hover);
}

.dropdown__button--link::after {
  display: none;
}

/**************/
/*** CONTENT **/
/**************/
.container {
  padding: 1em;
  width: 100%;
}

.container h1 {
  text-align: center;
}

.container__chart {
  height: 370px;
  margin: 0 auto;
  max-width: 920px;
}

.container:not(.container--main) .container__chart {
  padding-left: 40px;
}

.container__chart > div > *:not(canvas) {
  display: none;
}

.container__table {
  background-color: lightslategray;
  border: 1px solid black;
  border-spacing: 0;
  margin: 1em auto;
}

.container__table td {
  border: 1px solid black;
}

.container__table td:nth-child(2) {
  width: 90px;
}

#profit {
  color: gold;
  font-size: large;
}

#controlFull {
  color: orange;
  font-size: large;
}

/**************/
/*** FOOTER ***/
/**************/
.footer {
  align-items: center;
  background-color: var(--theme-accent-background);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  user-select: none;
  width: 100%;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  margin: 0 0 15px;
  padding: 0;
}

.footer__nav a,
.footer__text {
  color: var(--theme-muted-font-color);
  text-decoration: none;
}

.footer__nav a:hover {
  color: var(--theme-muted-font-color--hover);
}

.footer__nav li:not(:last-child)::after {
  background-color: inherit;
  border-radius: 3px;
  content: '';
  display: inline-block;
  height: 6px;
  width: 6px;
}

/************/
/****MAP*****/
/************/
.map-container__region:hover img {
  filter: contrast(150%);
}

.map-container__title {
  opacity: 0;
  user-select: none;
}

.map-container__region:hover .map-container__title {
  opacity: 1;
}

#korskaya {
  position: absolute;
  width: 13.5%;
  left: 21.2em;
  top: 8.3em;
}

#kor div {
  position: absolute;
  width: 13.5%;
  left: 24em;
  top: 8.5em;
}

#abercockta {
  position: absolute;
  width: 8.1%;
  left: 41.6em;
  top: 16em;
}

#abe div {
  position: absolute;
  width: 8.1%;
  left: 43em;
  top: 19em;
  z-index: 10;
}

#seaofghosts {
  position: absolute;
  width: 13.9%;
  left: 13em;
  top: 7.75em;
}

#sea div {
  position: absolute;
  width: 13.9%;
  left: 15em;
  top: 15em;
}

#clitor {
  position: absolute;
  width: 8.5%;
  left: 24.55em;
  top: 13.15em;
}

#cli div {
  position: absolute;
  width: 8.5%;
  left: 26em;
  top: 16em;
}

#huyerinis {
  position: absolute;
  width: 9.8%;
  left: 22.2em;
  top: 19em;
}

#huy div {
  position: absolute;
  width: 9.8%;
  left: 20em;
  top: 24em;
  z-index: 3;
}

#yamoto {
  position: absolute;
  width: 11.5%;
  left: 28.5em;
  top: 22.1em;
}

#yam div {
  position: absolute;
  width: 11.5%;
  left: 30em;
  top: 28em;
}

#dzhudzhuh {
  position: absolute;
  width: 5%;
  left: 14.81em;
  top: 27.53em;
}

#dzhud div {
  position: absolute;
  width: 5%;
  left: 14.81em;
  top: 27.53em;
}

#antakovia {
  position: absolute;
  width: 14.25%;
  left: 29.4em;
  top: 17.1em;
}

#ant div {
  position: absolute;
  width: 14.25%;
  left: 33em;
  top: 20em;
  z-index: 3;
}

#bamvut {
  position: absolute;
  width: 12.65%;
  left: 47em;
  top: 10.8em;
}

#bam div {
  position: absolute;
  width: 12%;
  left: 49em;
  top: 17em;
  z-index: 20;
}

#bavat {
  position: absolute;
  width: 10.5%;
  left: 49.1em;
  top: 18.5em;
}

#bav div {
  position: absolute;
  width: 10.5%;
  left: 53em;
  top: 19em;
  z-index: 10;
}

#buinomore {
  position: absolute;
  width: 11.5%;
  left: 63em;
  top: 13.8em;
}

#bui div {
  position: absolute;
  width: 11.5%;
  left: 65em;
  top: 16em;
  z-index: 3;
}

#bushar {
  position: absolute;
  width: 10.5%;
  left: 34.7em;
  top: 25em;
}

#bus div {
  position: absolute;
  width: 10.5%;
  left: 37em;
  top: 29em;
  z-index: 3;
}

#cheeseantur {
  position: absolute;
  width: 5.5%;
  left: 45em;
  top: 11.3em;
}

#che div {
  position: absolute;
  width: 5.5%;
  left: 45em;
  top: 14em;
}

#dochehia {
  position: absolute;
  width: 9.2%;
  left: 46.4em;
  top: 20.6em;
}

#doc div {
  position: absolute;
  width: 9.2%;
  left: 49em;
  top: 22em;
  z-index: 10;
}

#duchies {
  position: absolute;
  width: 8.3%;
  left: 60.5em;
  top: 22.5em;
}

#duc div {
  position: absolute;
  width: 8.3%;
  left: 62em;
  top: 28em;
  z-index: 10;
}

#eshebamvut {
  position: absolute;
  width: 12.5%;
  left: 50em;
  top: 3em;
}

#esh div {
  position: absolute;
  width: 12.5%;
  left: 51em;
  top: 8em;
  z-index: 10;
}

#gennadiygosha {
  position: absolute;
  width: 12.75%;
  left: 40.9em;
  top: 23.5em;
}

#gos div {
  position: absolute;
  width: 12.75%;
  left: 44em;
  top: 28em;
}

#highlands {
  position: absolute;
  width: 12.5%;
  left: 39.2em;
  top: 8em;
}

#high div {
  position: absolute;
  width: 12.5%;
  left: 41em;
  top: 11em;
}

#lodog {
  position: absolute;
  width: 8%;
  left: 59em;
  top: 3.6em;
}

#lod div {
  position: absolute;
  width: 8%;
  left: 62em;
  top: 5em;
}

#lowlands {
  position: absolute;
  width: 13.7%;
  left: 33em;
  top: 4em;
}

#low div {
  position: absolute;
  width: 13.7%;
  left: 35em;
  top: 6em;
}

#newsea {
  position: absolute;
  width: 10%;
  left: 63.1em;
  top: 19.1em;
}

#new div {
  position: absolute;
  width: 10%;
  left: 65em;
  top: 23em;
}

#old {
  position: absolute;
  width: 7%;
  left: 57.7em;
  top: 14.7em;
}

#oldd div {
  position: absolute;
  width: 7%;
  left: 57.7em;
  top: 17.5em;
}

#rabisands {
  position: absolute;
  width: 10%;
  left: 67.5em;
  top: 19em;
}

#rabi div {
  position: absolute;
  width: 10%;
  left: 70em;
  top: 21em;
}

#zhungu {
  position: absolute;
  width: 14%;
  left: 29.8em;
  top: 10.5em;
}

#zhu div {
  position: absolute;
  width: 14%;
  left: 33em;
  top: 15em;
  z-index: 10;
}

#snofelt {
  position: absolute;
  width: 10.5%;
  left: 43.8em;
  top: 0.8em;
}

#sno div {
  position: absolute;
  width: 10.5%;
  left: 47em;
  top: 5em;
}

#tark {
  position: absolute;
  width: 9%;
  left: 53em;
  top: 21em;
}

#tar div {
  position: absolute;
  width: 9%;
  left: 57em;
  top: 25em;
}

#vaderd {
  position: absolute;
  width: 10.5%;
  left: 55em;
  top: 10em;
}

#vad div {
  position: absolute;
  width: 10.5%;
  left: 59em;
  top: 12em;
}

#velmi {
  position: absolute;
  width: 8%;
  left: 64.1em;
  top: 7.6em;
}

#vel div {
  position: absolute;
  width: 8%;
  left: 65em;
  top: 10em;
}

.map {
  position: absolute;
  background: url('../Lamoraun.png') no-repeat;
  background-size: 100%;
  width: 100em;
  height: 50em;
  display: block;
  filter: grayscale(100%);
}
